@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Montserrat", sans-serif;
  --bg-primary: #0b1829;
  --bg-second: #030303;
  --bg-third: #2a2b37;
  --text-primary: #f0eeeb;
  --text-second: #9a9ea2;
  --accent: #c02f2e;
  --gradient: linear-gradient(-90deg, #0b1c32 0.67%, #090a0e 99.47%);
}

.light {
  --bg-primary: #f0eeeb;
  --bg-second: #f0eeeb;
  --bg-third: #f0eeeb;
  --text-primary: #0b1829;
  --text-second: #9a9ea2;
  --accent: #c02f2e;
  --gradient: linear-gradient(252.18deg, #fff9ee 0.67%, #f0eeeb 99.47%);
}

textarea:focus,
input:focus {
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}

.bebas {
  font-family: "Bebas Neue", cursive;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.navbar {
  width: 5rem;
  position: fixed;
  background-color: var(--bg-second);
  height: 100vh;
  z-index: 100;
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.1);
  transition: width 150ms ease-out;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: backgroun 600ms ease-out;
  list-style: none;
}

.nav-item {
  margin: 1rem 0;
  width: 100%;
  transition: all 600ms ease-out;
}

.nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  transition: all 600ms;
}

.nav-item:hover {
  background: var(--accent);
}

.current {
  border-right: 5px solid var(--accent);
  border-bottom: none;
}

.link-text {
  color: var(--text-primary);
  display: none;
  font-size: 1.5rem;
}

.nav-link svg {
  color: var(--text-primary);
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.container-all {
  position: relative;
  background: var(--gradient);
}

.search {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  color: var(--accent);
  font-size: 8.5rem;
  display: block;
}

#atr1 {
  z-index: 0;
  position: fixed;
  color: var(--text-second);
  font-size: 20rem;
  left: 3rem;
  bottom: -10rem;
  opacity: 0.2;
}

.search-bar {
  position: relative;
  height: 3rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.title-bar {
  position: relative;
  margin: 0 0.5rem;
  flex-grow: 1;
  min-width: 10rem;
}

#search-title {
  padding: 0 1rem;
  color: var(--text-primary);
  height: 100%;
  width: 100%;
  background: var(--bg-third);
  border: 2px solid var(--accent);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.year-bar {
  position: relative;
  text-align: center;
  margin: 0 0.5rem;
  width: 5rem;
  min-width: 5rem;
}

#search-year {
  padding: 0 1rem;
  color: var(--text-primary);
  height: 100%;
  width: 100%;
  background: var(--bg-third);
  border: 2px solid var(--accent);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#search-submit {
  min-width: 5rem;
  margin: 0 0.25rem;
  color: #f0eeeb;
  height: 100%;
  font-size: 1.3rem;
  background: var(--accent);
  border: 2px solid #f0eeeb;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

label {
  position: absolute;
  top: -0.6rem;
  left: 0.5rem;
  font-weight: bold;
}

.results-container {
  width: 100%;
  margin: 0.5rem;
  /* height: 80%; */
}

.result-text {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--text-primary);
}

.result-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5%;
  justify-content: center;
  align-items: flex-start;
}

.result-item {
  overflow: hidden;
  width: 13rem;
  position: relative;
  background: var(--bg-primary);
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    4px -4px 4px 4px rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin: 1.5rem;
}

.button {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  margin: 0.3rem;
}

#add-loved,
#add-bookmarks {
  all: unset;
  z-index: 30;
  background: var(--accent);
  box-shadow: none;
  color: var(--text-primary);
  border-radius: 50%;
  margin: 0 2px;
}

.button svg {
  margin: 0.5rem;
  width: 1rem;
  height: 1rem;
  color: var(--bg-primary);
}

#add-loved:focus-within,
#add-bookmarks:focus {
  background: #6d1b1b;
  outline: none;
}

.result-item:nth-last-child(10),
.result-item:nth-last-child(9),
.result-item:nth-last-child(8),
.result-item:nth-last-child(7),
.result-item:nth-last-child(6),
.result-item:nth-last-child(5),
.result-item:nth-last-child(4),
.result-item:nth-last-child(3),
.result-item:nth-last-child(2),
.result-item:nth-last-child(1) {
  animation: slide 600ms ease-out forwards;
}

@keyframes slide {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.result-img {
  width: 100%;
  height: auto;
}

.item-text {
  margin: 1rem 1rem;
}

.result-title {
  margin: 0;
  display: block;
}

.result-detail {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-line {
  margin: 0 0.5rem;
  font-weight: 800;
  color: var(--accent);
}

.result-year,
.result-duration {
  margin: 0;
  color: var(--text-second);
}

.result-duration {
  font-size: 0.85rem;
}

.modal {
  transform: scale(0);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 101;
  background-color: var(--bg-primary);
  width: 70%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-header {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  max-height: 7rem;
  overflow-y: scroll;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-bottom: 2px solid var(--accent);
}

.modal-loved-button,
.modal-bookmarks-button,
.modal-close-button {
  margin: 5px 0;
  all: unset;
  background: var(--accent);
  border-radius: 50%;
  margin: 0 2px;
}

.modal-button button svg {
  margin: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  color: var(--bg-primary);
}

.modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.atr-modals {
  text-align: right;
  position: absolute;
  bottom: -5rem;
  right: 0;
  width: 50%;
  font-size: 9rem;
  z-index: -1;
  color: var(--text-second);
  opacity: 0.5;
}

.modal-text {
  padding: 0 1.5rem 1.5rem 1.5rem;
  overflow-y: scroll;
}

.modal-detail {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-primary);
}

.modal-rating {
  margin: 0.5rem 0;
  color: var(--accent);
  font-size: 1.3rem;
}

.modal-year {
  font-size: 1.3rem;
}

.modal-img {
  margin: 1.5rem 0;
  display: block;
  width: 15rem;
  height: auto;
  border-radius: 10px;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    4px -4px 4px 2px rgba(255, 255, 255, 0.05);
}

#overlay {
  display: none;
  position: fixed;
  width: 120vw;
  height: 120vh;
  background-color: #030303;
  opacity: 0.5;
  z-index: 100;
}

@media only screen and (min-width: 900px) {
  .modal-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-body {
    height: 85%;
    flex-direction: row;
    align-items: center;
  }

  .modal-img {
    display: inline-block;
    height: 28rem;
    width: auto;
    margin: auto 1.5rem;
  }

  .modal-text {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .navbar:hover {
    width: 12rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .container-all {
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .container-all {
    margin-left: 0;
    margin-bottom: 5rem;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .current {
    border-right: none;
    border-top: 5px solid var(--accent);
  }
}
