{% extends 'pages/index.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="search">
    <p class="bebas atr" id="atr1">Bookmarks</p>
    <div class="results-container">
        <p class="result-text bebas">Bookmarks</p>
        <ul class="result-list" id="bookmarks-list">
        </ul>
    </div>
    <div id="overlay" class="overlay"></div>
</div>
    

{% endblock content %}

{% block script %}
<script>
    getLocalStorage('bookmarks')
</script>
{% endblock script %}