{% load static %}
<html>
    <head>
        <title>NETFLEX</title>

        <!-- CSS & Other Header -->
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        {% block header %}{% endblock header %}

    </head>
    <body>
        <!-- Nav -->
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item" id="liked">
                    <a class="nav-link" href="{% url 'pages:loved' %}">
                        <svg width="2rem" aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
                        <span class="link-text bebas">LIKED</span>
                    </a>
                </li>
                <li class="nav-item current" id="search">
                    <a class="nav-link" href="{% url 'pages:index' %}">
                        <svg width="2rem" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                        <span class="link-text bebas">SEARCH</span>
                    </a>
                </li>
                <li class="nav-item" id="bookmarks">
                    <a class="nav-link" href="{% url 'pages:bookmarks' %}">
                        <svg width="2rem" aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark" class="svg-inline--fa fa-bookmark fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z"></path></svg>
                        <span class="link-text bebas">BOOKMARKS</span>
                    </a>
                </li>
                <li class="nav-item" id="bookmarks">
                    <a class="nav-link" onclick="toggleMode()">
                        <svg width="2rem" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="adjust" class="svg-inline--fa fa-adjust fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M8 256c0 136.966 111.033 248 248 248s248-111.034 248-248S392.966 8 256 8 8 119.033 8 256zm248 184V72c101.705 0 184 82.311 184 184 0 101.705-82.311 184-184 184z"></path></svg>
                        <span class="link-text bebas">TOGGLEMODE</span>
                    </a>
                </li>
            </ul>
        </nav>
        
        <!-- Content -->
        <div class="container-all">
            {% block content %}{% endblock content %}
        </div>
    </body>

    <!-- Scripts -->
    <script>
    let apiUrl = "https://www.omdbapi.com/?apikey=27acb4dd&"
    let page = 1
    let currTitle = ""
    let currYear = ""
    let resultList = document.querySelector("#search-list")
    let search = document.querySelector('.search')

    const toggleMode = () => {
        const body = document.body
        const mode = localStorage.getItem("theme")
        if (mode === "light") {
            body.classList.remove("light")
            localStorage.setItem("theme", "dark")
        } else {
            body.classList.add("light")
            localStorage.setItem("theme", "light")
        }
    }

    const getMode = () => {
        const body = document.body
        const mode = localStorage.getItem("theme")
        if (mode === "light") {
            body.classList.add("light")
        } else {
            body.classList.remove("light")
        }
    }
    const getMovies = async (url) => {
        let response = await fetch(url)
        if (response.ok) {
            let jsonResponse = await response.json();
            if (jsonResponse.Response === "True"){
                let res = ""
                jsonResponse.Search.map(movie => {
                    let imgUrl = movie.Poster === "N/A" ? "{% static 'noimg.jpg' %}" : movie.Poster;
                    let key = '' + movie.imdbID
                    res += (`
                    <li class="result-item">
                        <img class="result-img" src=${imgUrl} alt="" data-modal-target="#modal-${movie.imdbID}">
                        <div class="item-text">
                            <p class="result-title">${movie.Title}</p>
                            <div class="result-detail">
                                <p class="result-year bebas">${movie.Year}</p>
                                <p class="result-line">|</p>
                            </div>
                        </div>
                        <div class="button">
                            <button id="add-loved" onclick={addLocalStorage('loved','${key}')}><svg  aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
                            </button>
                            <button id="add-bookmarks" onclick={addLocalStorage('bookmarks','${key}')}><svg width="1rem" aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark" class="svg-inline--fa fa-bookmark fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z"></path></svg>
                            </button>
                        </div>
                    </li>`)
                })

                let resModal = await Promise.all(
                    jsonResponse.Search.map(async (movie) => {
                        let val = await fetch(apiUrl + `i=${movie.imdbID}`)
                        if (val.ok) {
                            movie = await val.json()
                            if (movie.Response === "False") return
                            return (createModal(movie))
                        }
                    })
                )
                resModal = resModal.join('\n')
                return [res, resModal];
            }
        }
    }

    const searchMovie = async () => {
        let title = "s=" + document.querySelector("#search-title").value.replaceAll(" ", "+")
        let year = document.querySelector("#search-year").value !== "" ? `&y=${document.querySelector("#search-year").value}` : "";
        document.querySelector(".result-text.bebas").innerHTML = "Results for: " + document.querySelector("#search-title").value
            if (currTitle !== title) {
                currTitle = title;
                page = 1
            }
    
            if (currYear !== year) {
                currYear = year
                page = 1
            }
            
            let pages = `&page=${page}`
            let url = apiUrl + title + year + pages;
            page += 1;
    
            let res = await getMovies(url);
            resultList.innerHTML = res[0]
            search.insertAdjacentHTML('beforeend', res[1])
    
            setUpModalsButton()
    }

    const searchNext = async () => {
        if (currTitle !== "") {
            let url = apiUrl + currTitle + currYear + "&page=" + page;
            page += 1;
            let res = await getMovies(url)
            if(res !== undefined){
                resultList.insertAdjacentHTML('beforeend', res[0]);
                search.insertAdjacentHTML('beforeend', res[1]);
            }
        }
        setUpModalsButton()
    }

    const forms = document.querySelector("#forms")
    if (forms !== null) {
        forms.addEventListener('submit', async (e) => {
            e.preventDefault();
            searchMovie()
        })
    }

    const searchBar = document.querySelector("#search-submit")
    if (searchBar !== null) {
        searchBar.addEventListener('click', async (e) => {
            e.preventDefault();
            searchMovie()
        })
    }

    const addLocalStorage = async (type, key) => {
        let storageBefore = JSON.parse(localStorage.getItem(type))
        let val = await fetch(apiUrl + `i=${key}`)
        if (val.ok) {
            val = await val.json()
            if(storageBefore === null) {
                let obj = {}
                obj[key] = val
                obj = JSON.stringify(obj)
                localStorage.setItem(type, obj)
            } else {
                storageBefore[key] = val
                let obj = JSON.stringify(storageBefore)
                localStorage.setItem(type, obj)
            }
        }

    }

    const createModal = (movie) => {
        let imgUrl = movie.Poster === "N/A" ? "{% static 'noimg.jpg' %}" : movie.Poster;
        let res = `
        <div class="modal" id="modal-${movie.imdbID}">
            <div class="modal-header">
                <div class="title">${movie.Title}</div>
                <div class="modal-button">
                    <button class="modal-loved-button"  onclick={addLocalStorage('loved','${movie.imdbID}')} ><svg height="1.5rem" aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></button>
                    <button class="modal-bookmarks-button" onclick={addLocalStorage('bookmarks','${movie.imdbID}')}><svg height="1.5rem" aria-hidden="true" focusable="false" data-prefix="far" data-icon="bookmark" class="svg-inline--fa fa-bookmark fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z"></path></svg></button>
                    <button data-close-button class="modal-close-button"><svg height="1.5rem" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="atr-modals bebas">${movie.Title}</div>
                <img class="modal-img" src=${imgUrl} alt="">
                <div class="modal-text">
                    <div class="modal-detail">
                        <p class="modal-year bebas">${movie.Year}</p>
                        <p class="result-line">|</p>
                        <p class="modal-duration">${movie.Runtime}</p>
                    </div>
                    <p class="modal-rating bebas">IMDB ${movie.imdbRating}</p>
                    <p class="modal-plot">${movie.Plot}</p>
                </div>
            </div>
        </div>`
        return res;
    }

    const getLocalStorage = (type) => {
        const target = type === "bookmarks" ? document.querySelector("#bookmarks-list") : document.querySelector("#loved-list")
        const local = localStorage.getItem(type)
        const json = JSON.parse(local)
        let resModal = ""
        let resItem = ""

        if (Object.keys(json).length === 0) {
            target.innerHTML = "No movies added"
        } else {
            for(let [i, value] of Object.entries(json)){
                let movie = json[i]
                let imgUrl = movie.Poster === "N/A" ? "{% static 'noimg.jpg' %}" : movie.Poster;
                let key = '' + movie.imdbID
                let modal = createModal(movie)
                resModal += modal
                resItem += `
                        <li class="result-item">
                            <img class="result-img" src=${imgUrl} alt="" data-modal-target="#modal-${movie.imdbID}">
                            <div class="item-text">
                                <p class="result-title">${movie.Title}</p>
                                <div class="result-detail">
                                    <p class="result-year bebas">${movie.Year}</p>
                                    <p class="result-line">|</p>
                                </div>
                            </div>
                            <div class="button">
                                <button id="add-loved" onclick={removeLocalStorage('${type}','${key}')}><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                                </button>
                            </div>
                        </li>
                        `
            }
            target.innerHTML = resItem
            target.innerHTML += resModal
            setUpModalsButton()
        }


    }

    const removeLocalStorage = (type, key) => {
        let storage = JSON.parse(localStorage.getItem(type))
        delete storage[key]
        localStorage.setItem(type, JSON.stringify(storage))
        getLocalStorage(type)
    }

    window.onscroll = function(ev) {
        if ((window.innerHeight + window.scrollY) >= document.documentElement.scrollHeight - 5) {
            searchNext()
            }
    };

    let list = document.querySelectorAll(".nav-item")
    list.forEach(item => {
        item.classList.remove("current");
    })    

    if(location.pathname === "/") {
        document.querySelector("#search").classList.add("current");
    } else if (location.pathname === "/loved/") {
        document.querySelector("#liked").classList.add("current");
    } else if (location.pathname === "/bookmarks/") {
        document.querySelector("#bookmarks").classList.add("current");
    }

    const setUpModalsButton = () => {
        const openModalButtons = document.querySelectorAll('[data-modal-target]')
        const closeModalButtons = document.querySelectorAll('[data-close-button]')
        const overlay = document.querySelector("#overlay")

        overlay.addEventListener('click', () => {
        const openedModals = document.querySelectorAll('.modal.active')
        openedModals.forEach(modal => closeModal(modal))
        })

        openModalButtons.forEach(button => {
            button.addEventListener('click', () => {
                const modal = document.querySelector(button.dataset.modalTarget)
                openModal(modal)
            })
        })
    
        closeModalButtons.forEach(button => {
            button.addEventListener('click', () => {
                const modal = button.closest('.modal')
                closeModal(modal)
            })
        })
    }

    const openModal = (modal) => {
        if (modal === null) return
        modal.classList.add('active')
        overlay.classList.add('active')
    }

    const closeModal = (modal) => {
        if (modal === null) return
        modal.classList.remove('active')
        overlay.classList.remove('active')
    }

    getMode()

    </script>
    {% block script %}{% endblock script %}
</html>