{% extends 'pages/index.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="search">
    <p class="bebas logo">NETFLEX</p>
    <form action="" class="search-bar">
        <input type="text" name="title" id="search-title">
        <input type="number" name="number" id="search-year">
        <input type="submit" class="bebas" id="search-submit" value="SEARCH">
    </form>
    <p class="bebas atr" id="atr1">MOVIES</p>
    <div class="results-container">
        <p class="result-text bebas">Popular Movies</p>
        <ul class="result-list">
        </ul>
    </div>

    <div class="modal">
        <div class="modal-header">
            <div class="title">Blade Runner 2049</div>
            <button class="close-button">&times;</button>
            <button class="close-button">&times;</button>
            <button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <img class="modal-img" src="https://m.media-amazon.com/images/M/MV5BMTYzODQzYjQtNTczNC00MzZhLTg1ZWYtZDUxYmQ3ZTY4NzA1XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg" alt="">
            <div class="modal-text">
                <div class="modal-detail">
                    <p class="modal-year bebas">2017</p>
                    <p class="modal-line">|</p>
                    <p class="modal-duration">121 Min</p>
                </div>
                   <p class="modal-rating">IMDB 8.0</p>
                   <p class="modal-plot">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi nisi corporis libero quia, iste sequi enim tempora temporibus illum quod.</p>
            </div>
        </div>
    </div>
    <div id="overlay"></div>
</div>
    

{% endblock content %}

{% block script %}
{% endblock script %}